body{
        background: url(/img/library.jpg);
        background-repeat: no-repeat;

        /* contain background size will reshape the image size accroding to the screen size */
        /* It will not let the image to go outside it's bound */
        background-size:contain;
}
